BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk48" SITE "128";
IOBUF PORT "clk48" IO_TYPE=LVCMOS33;
LOCATE COMP "led" SITE "52";
IOBUF PORT "led" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_clock" SITE "72";
IOBUF PORT "sdram_clock" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[0]" SITE "81";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[1]" SITE "80";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[2]" SITE "79";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[3]" SITE "78";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[4]" SITE "105";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[5]" SITE "106";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[6]" SITE "107";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[7]" SITE "108";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[8]" SITE "110";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[9]" SITE "111";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[10]" SITE "82";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[11]" SITE "112";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[12]" SITE "113";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "92";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "91";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cs_n" SITE "84";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "114";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ras_n" SITE "88";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cas_n" SITE "89";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_we_n" SITE "90";
IOBUF PORT "sdram_we_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "104";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "103";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "102";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "99";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "98";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "97";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "95";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "94";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "116";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "117";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "118";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "119";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "120";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "121";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "124";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "125";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[0]" SITE "93";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[1]" SITE "115";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVTTL33;
LOCATE COMP "usb_host_dp" SITE "39";
IOBUF PORT "usb_host_dp" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm" SITE "41";
IOBUF PORT "usb_host_dm" IO_TYPE=LVCMOS33;
LOCATE COMP "ddmi_clk_p" SITE "69";
IOBUF PORT "ddmi_clk_p" IO_TYPE=LVCMOS33D;
IOBUF PORT "ddmi_clk_p" DRIVE=4;
LOCATE COMP "ddmi_data0_p" SITE "71";
IOBUF PORT "ddmi_data0_p" IO_TYPE=LVCMOS33D;
IOBUF PORT "ddmi_data0_p" DRIVE=4;
LOCATE COMP "ddmi_data1_p" SITE "74";
IOBUF PORT "ddmi_data1_p" IO_TYPE=LVCMOS33D;
IOBUF PORT "ddmi_data1_p" DRIVE=4;
LOCATE COMP "ddmi_data2_p" SITE "77";
IOBUF PORT "ddmi_data2_p" IO_TYPE=LVCMOS33D;
IOBUF PORT "ddmi_data2_p" DRIVE=4;
LOCATE COMP "spisdcard_clk" SITE "50";
IOBUF PORT "spisdcard_clk" SLEWRATE=FAST;
IOBUF PORT "spisdcard_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_mosi" SITE "47";
IOBUF PORT "spisdcard_mosi" SLEWRATE=FAST;
IOBUF PORT "spisdcard_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_cs_n" SITE "48";
IOBUF PORT "spisdcard_cs_n" SLEWRATE=FAST;
IOBUF PORT "spisdcard_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_miso" SITE "46";
IOBUF PORT "spisdcard_miso" SLEWRATE=FAST;
IOBUF PORT "spisdcard_miso" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk48" 48.0 MHz;
